<ul class="list-group">
  <li class="list-group-item" style="background: #ecf0f1"><h2>Cocktails</h2></li>
  <li class="list-group-item" id='no-cocktail'>
    <a id="add-cocktail">Ajouter un cocktail</a>
  </li>
  <li class="list-group-item hidden" id="add-cocktail-form" style="background: #fafafa">
    <%= render "form-add-cocktail" %>
  </li>
  <% @cocktails.each do |cocktail|%>
    <li class="list-group-item">
      <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
      <div><% cocktail.ingredients.each do |ingredient| %>
          <span class="label label-info"><%= link_to ingredient.name, ingredient_path(ingredient) %></span>
        <% end %></div>
    </li>
  <% end %>
  <li class="list-group-item" style="background: #ecf0f1"></li>
</ul>

<% item = "cocktail" %>

<script type="text/javascript">
  $(document).ready (function() {
    $("<%= "#no-#{item}" %>").click(function(element) {
      $(this).slideUp(0);
      $("<%= "#add-#{item}-form" %>").removeClass("hidden");
      $("#cocktail_name").focus();
      {return false;};
    });
  })
</script>

