<ul class="list-group" id="cocktail-list">
  <li class="list-group-item" style="background: #ecf0f1" id="title">
    <div style="display: flex; align-items: center; justify-content: space-between">
      <div>
        <h2>Cocktails</h2>
        <div>
          avec <span class="label label-info"><%= @ingredient.name.capitalize %></span>
          <span class="label label-primary">
          <%= link_to cocktails_path do%>
            Supprimer le filtre
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
          </span>
        </div>
      </div>
      <div >
        <form id="live-search" action="" class="form-inline" method="post">
          <fieldset>
            <input type="text" class="text-input form-control" id="filter" value="" placeholder="Chercher un cocktail..."/>
          </fieldset>
        </form>
      </div>
    </div>
  </li>
  <li class="list-group-item" id='add-cocktail'>
    <a href="#" id="add-cocktail">Ajouter un cocktail</a>
  </li>
  <li class="list-group-item hidden" id="add-cocktail-form" style="background: #fafafa">
    <%= render "cocktails/form-add-cocktail" %>
  </li>
  <% @cocktails.each do |cocktail|%>
    <li class="list-group-item">
      <p style="font-size: 1.5em"><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
      <div><% cocktail.ingredients.each do |ingredient| %>
          <span class="label label-info"><%= link_to ingredient.name, ingredient_path(ingredient) %></span>
        <% end %></div>
    </li>
  <% end %>
  <li class="list-group-item" style="background: #ecf0f1" id="bottom"></li>
</ul>

<% item = "cocktail" %>

<script type="text/javascript">
  $(document).ready (function() {
    $("<%= "#add-#{item}" %>").click(function(element) {
      $(this).slideUp(0);
      $("<%= "#add-#{item}-form" %>").removeClass("hidden");
      $("#cocktail_name").focus();
      {return false;};
    });
    $("#filter").keyup(function(){

        // Retrieve the input field text and reset the count to zero
        var filter = $(this).val();

        // Loop through the comment list
        $("#cocktail-list li").each(function(){

            // If the list item does not contain the text phrase fade it out
            if ($(this).text().search(new RegExp(filter, "i")) < 0) {
                $(this).slideUp(0);

            // Show the list item if the phrase matches
            } else {
                $(this).show(0);
            };
            $("#add-cocktail").show(0);
            $("#title").show(0);
            $("#bottom").show(0);
        });
    });
  })
</script>
