<%= link_to '< Annuler', cocktail_path(@cocktail) %>
<div style="padding: 15px"></div>
<h3>Ajoutez un ingredient ou modifiez ses quantités :</h3>
<div style="padding: 10px"></div>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :ingredient, collection: @ingredients, selected: @ingredients.first %>
  <p><%= link_to "Ajouter un ingredient", "#" %></p>
  <%= f.input :quantity %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
